-	var xml ='<?xml version="1.0" encoding="utf-8"?>'
!{xml}
rss(version="2.0")
	channel
		title #{blog.title}
		link(href=domain)
		author
			name Brad Harris
		for article in articles
			item
				title #{article.title}
				link(href=domain+article.path)
				pubDate #{article.date}
				description
					:cdata
						!{article.content}
