!!! 5
html(lang="en")
	head
		title #{pageTitle}
		meta(name="keywords", content=keywords)
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width,initial-scale=1")

		link(href="/css/blog.css", rel="stylesheet")
		link(rel="alternate", type="application/rss+xml", title=blogTitle+" » rss", href="/feed/rss.xml")

	body

		div#main

			header
				h1
					a(href="/") #{blogTitle}
					small  [#{blogDescription}]

			div#content-container

				section#content

					block content

				aside.sidebar

					block sidebar

			footer
				|	powered by
				a(href="https://github.com/bmharris/flipflop") flipflop
